<%- include('../../partials/header.ejs',{title:'404 Not Found',active:'active'}) %> 

<div>
    <div class="container my-container my-5">
        <h1 class="display-4 text-center">404 Page not found</h1>
    </div>
</div>
<%- include('../../partials/footer.ejs') %> 

</body>
</html>